.video-section{
    background-image: url('../../images/parallax-bg6.jpg'),
    linear-gradient(rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.795));
  background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.video-section .video-btn {
    background-color: #fff;
    color: black;
    margin-top: 20px;
  }
  .video-section .video-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }