.functional{
background-image: url('../../images/homepage-9-parallax-img5.jpg'),linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
}
.functional h5 {
    font-size: 45px;
    line-height: 50px;
  }
  .functional .functional-info li {
    font-size: 14px;
    color: rgb(85, 83, 83);
    background-color: transparent;
  }
  .functional p {
    color: rgb(102, 98, 98);
    margin: 20px 0;
  }
  .functional .functional-btn {
    background-color: #fff ;
    color: black;
    margin-top: 20px;
    transition: ease-in-out 0.2s;
  }
  .functional .functional-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
  @media only screen and (max-width: 768px) {
    .functional h5 {
      font-size: 23px;
      line-height: 30px;
    }
    .functional img{
      width: 100%;
    }
  }