.advantage-box {
    background-color: #f7f7f7;
}
.advantage img{
height: 100%;
width: 100%;
object-fit: cover;
}
.advantage-card{
    padding:0 50px;
    padding-top: 20px;
}
.advantage h5{
    font-size: 40px;
    line-height: 46px;
}
@media only screen and (max-width: 768px) {
    .advantage h5{
        font-size: 25px;
        line-height: 30px;
        font-weight: bold;
    }
  }